In [3]:
# Importando pandas
import pandas as pd

In [4]:
# Lendo e visualizando a base de dados de treino
train = pd.read_csv("Files/train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# Imporatando ProfileReport do Ydata-profiling
from ydata_profiling import ProfileReport

In [6]:
# Gerando a visualização
report = ProfileReport(train, title="Titanic_Treino")

In [7]:
# Craindo o relatório
report.to_file("Train_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Analisando base de Treino

In [8]:
# Informações sobre a base Treino
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
# Verificando o tipo dos dados
train.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

In [10]:
# Vericando valores nulos
train.isnull().sum().sort_values(ascending=False).head(4)

Cabin          687
Age            177
Embarked         2
PassengerId      0
dtype: int64

# Analisando base de Teste

In [11]:
# Lendo e visualizando a base de dados de teste
test = pd.read_csv("Files/test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
# Informações sobre a base Teste
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [13]:
# Vericando valores nulos
test.isnull().sum().sort_values(ascending=False).head(4)

Cabin          327
Age             86
Fare             1
PassengerId      0
dtype: int64

- Temos colunas que possuem valores vazios na base de teste que não estão vazias na base de treino

### Realizando tratamentos inciais dos dados

In [14]:
# Visualizando novamente valores nulos da base treino
train.isnull().sum().sort_values(ascending=False).head(4)

Cabin          687
Age            177
Embarked         2
PassengerId      0
dtype: int64

In [15]:
train.shape

(891, 12)

In [16]:
# Vizualisando a cardinalidade dos dados
train.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

In [17]:
# Eliminando colunas para os dados de treino
train = train.drop(["Name", "Ticket", "Cabin"], axis=1)

In [18]:
# Elimnando colunas para os dados de teste
test = test.drop(["Name", "Ticket", "Cabin"], axis=1)

### Tratando colunas com valores nulos

- Para valores nulos da coluna Age, podemos subitituir pelo valor da média de idade.

In [19]:
# Caculando a média da coluna Age
train["Age"].mean()

29.69911764705882

In [20]:
# Alterando os valores nulos na coluna Age, pela média base de treino
train.loc[train.Age.isnull(), "Age"] = train["Age"].mean()

In [21]:
# Alterando os valores nulos na coluna Age, pela média base de teste
test.loc[test.Age.isnull(), "Age"] = test["Age"].mean()

- Para valores nulos na coluna Embarked, podemos subitituir pela Moda dos valores

In [22]:
# Selecionando a Moda da coluna Embarked
train["Embarked"].mode()[0]

'S'

In [23]:
# Alterando os valores na base de Treino
train.loc[train.Embarked.isnull(), "Embarked"] = train["Embarked"].mode()[0]

In [24]:
# Alterando os valores na base de Teste
test.loc[test.Embarked.isnull(), "Embarked"] = test["Embarked"].mode()[0]

In [25]:
train.isnull().sum().sort_values(ascending=False)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [26]:
test.isnull().sum().sort_values(ascending=False)

Fare           1
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

- Ainda possui uma valor nulo na coluna Fare da base de dados de teste.
    - Podemos substituir pela média.

In [27]:
# Alterando valores nulos da coluna Fare
test.loc[test.Fare.isnull(), "Fare"] = test.Fare.mean()

In [28]:
test.isnull().sum().sort_values(ascending=False)

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

 ### Selecionando apenas colunas numéricas para o database

In [29]:
# Verificando colunas numéricas dos dados de Treino
col_treino_num = train.columns[train.dtypes != "object"]
col_treino_num

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [30]:
# E para base de dados Teste
col_test_num = test.columns[test.dtypes != "object"]
col_test_num

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [31]:
train_num = train[col_treino_num]
test_num = test[col_test_num]

In [32]:
train_num.head(5)

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [33]:
test_num.head(5)

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0          892       3  34.5      0      0   7.8292
1          893       3  47.0      1      0   7.0000
2          894       2  62.0      0      0   9.6875
3          895       3  27.0      0      0   8.6625
4          896       3  22.0      1      1  12.2875

-------

# Criando Modelos

- Separando dados entre Treino e Validação

In [34]:
# Importando o train_test_split do Sklearn
from sklearn.model_selection import train_test_split

In [35]:
# Separando a base de dados de entre X e y
X = train_num.drop(["PassengerId", "Survived"], axis=1)
y = train_num["Survived"]

In [36]:
# Separando dados de treino entre Treino e Validação
train_X, valid_X, train_y, valid_y = train_test_split(X, y, random_state=1)

### Modelo Random Forest

In [37]:
# importando modelo e acurácia
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [38]:
# Treinando o Modelo
modelo_rf = RandomForestClassifier(random_state=1)
modelo_rf.fit(train_X, train_y)

RandomForestClassifier(random_state=1)

In [39]:
# Predizendo os dados de Validação
predicao_rf = modelo_rf.predict(valid_X)

In [40]:
# Acurácia entre a predição e dados reais
acuracia_rf = accuracy_score(valid_y, predicao_rf)

### Modelo KNeighborsClassifer

In [41]:
# Importando
from sklearn.neighbors import KNeighborsClassifier

In [42]:
# Treinando o Modelo
modelo_kn = KNeighborsClassifier(n_neighbors=3)
modelo_kn.fit(train_X, train_y)

KNeighborsClassifier(n_neighbors=3)

In [43]:
# Predizendo os dados de Validação
predicao_kn = modelo_kn.predict(valid_X)

In [44]:
# Acurácia entre a predição e dados reais
acuracia_kn = accuracy_score(valid_y, predicao_kn)

### Modelo Regressão Logística

In [45]:
# Importando
from sklearn.linear_model import LogisticRegression

In [50]:
# Treinando o Modelo
modelo_lr = LogisticRegression(random_state=1, max_iter=1000)
modelo_lr.fit(train_X, train_y)

LogisticRegression(max_iter=1000, random_state=1)

In [51]:
# Predizendo os dados de Validação
predicao_lr = modelo_lr.predict(valid_X)

In [52]:
# Acurácia entre a predição e dados reais
acuracia_lr = accuracy_score(valid_y, predicao_lr)

### Resultados de Modelagem

In [54]:
print(f"Acurácia Modelo RandomForest: {acuracia_rf}\n")
print(f"Acurácia Modelo KNeighborsClassifer: {acuracia_kn}\n")
print(f"Acurácia Modelo LogisticRegression: {acuracia_lr}")

Acurácia Modelo RandomForest: 0.6502242152466368

Acurácia Modelo KNeighborsClassifer: 0.6860986547085202

Acurácia Modelo LogisticRegression: 0.6591928251121076